h1 {
    font-size: xx-large;
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    
}

.boop h2.email {
    letter-spacing: 1.5px;
}

.example {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 

}

.example .aboutMe {
    text-align: left;
    padding-left: 20%;
    letter-spacing: 2px;
    font-size: larger;
}

.paragraph {
    margin-left: 75px;
    font-size: large;
}

.example .headshot {
    margin-right: 15%;
    margin-left: 3%;
    border-radius: 5%;
    width: 20%;
    transition: transform 0.3 ease;
}

.headshot:hover {
    transform: translateY(-5px);
}


h2 {
    font-family:  'Work Sans', sans-serif;
    color: aliceblue;
}

body {
    background-color: #435e46;
    text-align: center;
    margin: 0;
}

p {
    font-family:  'Work Sans', sans-serif;
    color: aliceblue;
    padding-left: 35px;
    width: 50vh;
    justify-content: center;
    text-align: left;
}

nav { 
    background-color: #435e46;
    display: flex;
    justify-content: left;
}


.fullName {
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
}

.linkedlogo {
  
    height: auto;
}

.linkedlogo:hover {
    background-color: #E9C874;
}

h1 {
    font-size: xx-large;
    animation-duration: 1s;
    animation-iteration-count: 3;
    display: inline-block;
    
}

h2 {
    font-size: medium;
}

h1 {
    animation-name: wave;
}

h3 {
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
    padding-left: 50px;
    letter-spacing: 2px;
    font-size: larger;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

dt {
    color: aliceblue;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;

}

/*@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-70px);
    }
} */


.linky a {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px;
    color: #E9C874;
}

.linky a:hover {
    color: white;
}

.tm {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: aliceblue;
    padding-bottom: 10px;
}

.goBack {
    text-decoration: none;
    color: #F3CA52;
}

.goBack:hover {
    color:bisque;
}

.card {
    font-family: 'Work Sans', sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
}

input {
    margin-bottom: 10px;
}

.form-submit {
    margin-top: 10px;
}

dt {
    text-align: left;
    margin-left: 75px;
}

dd {
    text-align: left;
    margin-left: 75px;
    margin-bottom: 16px;
}

.linkedIn {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    color:bisque;
}

.gitHub {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    color: bisque;
}

.separator {
    color: aliceblue;
    font-size: large;
}